<div class="entrylist_right">
  <div class="attachment">
    <img class="article_photo" alt="no image"><%= image_tag seminar.photo_file_name%>
        <div class="entlyst_text">
         <a class="entry_seminar_title" href='/seminars/<%=seminar.id%>'><%=seminar.title%></a>
        </div>
  </div>
</div>